<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="AllFilesAccessPolicy,ScopedStorage,PhotoAndVideoPolicy,SelectedPhotoAccess">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <!-- App -->
    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.TurboPhotos"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">

        <!-- Home screen -->
        <activity
            android:name=".screens.home.HomeActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <!-- Album screen -->
        <activity
            android:name=".screens.album.AlbumActivity"
            android:launchMode="standard"
            android:exported="false">
        </activity>

        <!-- Display screen -->
        <activity
            android:name=".screens.display.DisplayActivity"
            android:launchMode="standard"
            android:exported="true">
            <intent-filter
                android:label="Image Viewer">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!-- Video player -->
        <activity
            android:name=".screens.video.VideoActivity"
            android:launchMode="standard"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout"
            android:supportsPictureInPicture="true">
            <intent-filter
                android:label="Video Player">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter
                android:label="Video Player">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="video/*"/>
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Settings screen -->
        <activity
            android:name=".screens.settings.SettingsActivity"
            android:launchMode="standard"
            android:exported="false">
        </activity>

        <!-- Sync screen -->
        <activity
            android:name=".screens.sync.SyncActivity"
            android:launchMode="standard"
            android:exported="false">
        </activity>
        <service
            android:name=".screens.sync.SyncService"
            android:foregroundServiceType="dataSync"
            android:exported="false">
        </service>
    </application>
</manifest>